<%if logged_in? %>
<p align="right"><a href="/logout">Log out</a>
<%end%>
<h1> Edit Student </h1>
<form method="post" action="/students/<%=@student.id%>">
<input type="hidden" name="_method" value="patch">

Student Name : <input name="student[name]" type="text" value="<%=@student.name%>">
Student's Email: <input name="student[email]" type="email" value="<%=@student.email%>">
Student's Grade : <input name="student[grade]" type="text" value="<%=@student.grade%>">
<input type="submit" value="Update">
</form>