<%if logged_in? %>
<p align="right"><a href="/logout">Log out</a>
<%end%>
<h2>List of students</h2>
<% @students.each_with_index do |c,i| %>
  <%= i+1 %> -  <a href="/students/<%= c.id%>" ><%= c.name %></a><br>
  <% end %>