<%if logged_in? %>
<p align="right"><a href="/logout">Log out</a>
<%end%>
<p align="right"><a href="/teachers/new">Add Teacher|
<a href="/courses/new">Add Course|
<a href="/students/new">Add Student</a><br>
<p align="right"><a href="/teachers">View Teachers|
<a href="/courses">View Courses|
<a href="/students">View Students</a></p>
<h2>List of students</h2>
<% @students.each_with_index do |c,i| %>
  <%= i+1 %> -  <a href="/students/<%= c.id%>" ><%= c.name %></a><br>
  <% end %>