<h2> Sign up </h2>
<form method="post" action="/signup">
Full Name: <input type"text" name="fullname">
Email: <input type="email" name="email">
Password: <input type="password" name="password">
<input type="submit" value="Signup">
</form>