<%if logged_in? %>
<p align="right"><a href="/logout">Log out</a>
<%end%>
<p align="right"><a href="/teachers/new">Add Teacher</a></p>
<h1>List of teachers</h1>
<% @teachers.each_with_index do |c,i| %>
  <%= i+1%> -  <a href="/teachers/<%= c.id%>" ><%= c.name %></a><br>
  <% end %>
