<%if logged_in?%>
<p align="right"><a href="/logout">Log out</a>

<h2>Add Teachers </h2>
<form method="post" action="/teachers">
<p>Full Name : <input name="name" type="text" required></p>
<p>Email: <input name="email" type="email" required></p>
<p>Address: <input name="address" type="text"></p>
<p>Course: <input name="course" type="text" required></p>
<p>Student: <input name="student" type="text"></p>
<input type="submit" value="Add">
</form>
<%end%>

