<% if logged_in? %>
<p align="right"><a href="/logout">Log out</a>
<h2>Welcome, <%= current_user.fullname %>!</h2>
<% end %>
<h1>List of courses</h1>
<% @courses.each_with_index do |c,i| %>
  <%= i+1 %> -  <%= c.title %><br>
  <% end %>