<h2>Add Courses </h2>
<form method="post" action="/courses">
Course Title : <input name="title" type="text">
Teacher:
<select name="teacher_id">
<% Teacher.all.each do |teacher| %>
<option value="<%= teacher.id %>"><%= teacher.name %></option>
<% end %>
<input type="submit" value="Add">
</form>