<%if logged_in? %>
<p align="right"><a href="/logout">Log out</a>
<%end%>
<h2>Add a Course </h2>
<form method="post" action="/courses">
Course Title : <input name="title" type="text">
Course Duration: <input name="duration" type="text">
<input type="submit" value="Add">
</form>