<%if logged_in? %>
<p align="right"><a href="/logout">Log out</a>
<%end%>
<p align="right"><a href="/courses">Go back</a></p>
<h3>Name: <%= @course.title %> </h3>
<h3>Course Duration: <%= @course.duration %></h3>

<a href="/courses/<%= @course.id%>/edit"> Edit </a>

<form method="post" action="/courses/<%=@course.id%>">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</form>